.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px); /* Efecto de desenfoque al fondo */
}

.modal-content {
    border-radius: 15px;
    background: linear-gradient(145deg, #1e1e26, #111118);
}

.text-emerald {
    color: #2ecc71;
}

.bg-dark-glass {
    background: rgba(255, 255, 255, 0.05);
}